/*GENERAL*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.3rem;
  line-height: 1.4;
}
h1 {
  font-size: 5em;
  margin: 0;
}
p {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  color: black;
}
img {
  width: 100%;
}
.firstPart i,
.firstPart a,
footer .reseaux a i {
  color: white;
}

/*HEADER*/
header {
  box-shadow: 0px -8px 30px 15px #2322204d;
  margin-bottom: 25px;
}
.cool-link::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

/*BODY*/
.firstPart {
  background-image: url("../img/head.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  color: white;
  position: relative;
}
.firstPart nav {
  background-color: #0000004f;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.66);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.presentation {
  width: 540px;
  padding: 150px 0 150px 0;
  z-index: 2;
  position: relative;
}
.reseaux a {
  padding-right: 10px;
}
.secondPart {
  background-color: white;
  text-align: center;
  padding: 25px 0 50px 0;
}
.secondPart .row {
  padding-top: 40px;
}
.secondPart i {
  font-size: 2rem;
  border: 1px solid #00000038;
  border-radius: 50%;
  padding: 25px;
}
.secondPart h4 {
  padding: 20px 0 10px 0;
}
.thirdPart {
  background-color: #F9F9F9;
  padding: 50px 0 50px 0;
  box-shadow: 0px 1px 23px #2322203b;
}
.thirdPart img {
  width: 270px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #555;
  margin-left: 120px;
}
.btn {
  border-radius: 8.25rem !important;
}
/*MODAL VIDEO*/
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
  }
.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
form {
  padding: 10px 90px 0;
}

/*CARD PORTFOLIO*/
.carte {
  position: relative;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s;
  overflow: hidden;
}
.carte:hover {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}
.carte__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: #fff;
  line-height: 13px;
  font-weight: bold;
  border-radius: 50%;
  background-color: orange;
}
.carte__date__day {
  display: block;
  font-size: 14px;
}
.carte__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}
.carte__thumb {
  height: 275px;
  background-color: #000;
  overflow: hidden;
  transition: height 0.3s;
}
.carte__thumb img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(1);
}
.carte:hover .carte__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}
.carte:hover .carte__thumb {
  height: 190px;
}
.carte__body {
  position: relative;
  padding: 20px;
  height: 130px;
  transition: height 0.3s;
}
.carte:hover .carte__body {
  height: 230px;
}
.carte__category {
  position: absolute;
  left: 0;
  top: -25px;
  height: 25px;
  padding: 0 15px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  text-transform: uppercase;
}
.carte__title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}
.carte__subtitle {
  color: orange;
  font-size: 19px;
  padding-bottom: 10px;
  text-align: left;
}
.carte__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 60px;
  font-size: 14px;
  line-height: 27px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0s;
  margin: 0;
  padding: 0;
}
.carte:hover .carte__description {
  opacity: 1;
  transition-delay: 0.1s;
}
.carte__footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  text-align: left;
}

/*FOOTER*/
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer {
  bottom: 0;
  width: 100%;
  padding: 50px 0;
  background-color: #000000db;
}
footer nav {
  padding: 0 50px;
}
footer div:last-child {
  padding: 0 90px;
}
